* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

body {
    background-color: #BAD7E9;
    text-align: center;
}

nav {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFB84C;
}

.logo {
    color: white;
}

span.logo {
    color: red
}

nav ul li {
    display: inline-block;
    margin: 20px 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    transition: color 0.5s;
}

nav ul li a:hover {
    color: red
}

.bar {
    float: right;
}

.baricon {
    color: black;
    display: none;
    cursor: pointer;
}

#check {
    display: none;
}

@media screen and (max-width:600px) {
    /* nav {
        padding: 20px 50px;
    } */

    .baricon {
        display: block;
    }

    nav ul {
        width: 50%;
        height: auto;
        background-color: #F2CD5C;
        /* border: 2px solid red; */
        position: fixed;
        top: 50px;
        right: -100%;
        text-align: center;
    }

    nav ul li {
        display: block;

    }

    #check:checked~ul {
        right: 0;
    }

}